In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
letters = pd.read_csv("Assig1-Dataset/info_1.csv", header=0)

In [3]:
letters.head()

   index symbol
0      0      A
1      1      B
2      2      C
3      3      D
4      4      E

In [4]:
numbers = pd.read_csv("Assig1-Dataset/info_1.csv", index_col=0, header=0, squeeze=True).to_dict()

In [5]:
print(numbers)

{0: 'A', 1: 'B', 2: 'C', 3: 'D', 4: 'E', 5: 'F', 6: 'G', 7: 'H', 8: 'I', 9: 'J', 10: 'K', 11: 'L', 12: 'M', 13: 'N', 14: 'O', 15: 'P', 16: 'Q', 17: 'R', 18: 'S', 19: 'T', 20: 'U', 21: 'V', 22: 'W', 23: 'X', 24: 'Y', 25: 'Z'}

In [6]:
test_set2 = pd.read_csv("Assig1-Dataset/test_with_label_2.csv", header=None)

In [7]:
test_set2.head(10)

,0,1,2,3,4,5,6,7,8,9,...,1015,1016,1017,1018,1019,1020,1021,1022,1023,1024
0,1,1,1,1,1,1,1,1,1,1,...,0,0,0,1,1,1,1,1,1,9
1,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
2,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,4
3,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,5
4,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,9
5,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
6,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
7,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,3
8,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,8
9,1,1,1,1,1,0,0,0,0,1,...,1,1,1,1,1,1,1,1,1,9

In [8]:
y_test = test_set2[1024] #the set of labels to all the data in x_test

In [9]:
x_test = test_set2.drop(1024, axis=1) #test data set

In [10]:
train_set2 = pd.read_csv("Assig1-Dataset/train_2.csv", header=None)

In [11]:
train_set2.head()

,0,1,2,3,4,5,6,7,8,9,...,1015,1016,1017,1018,1019,1020,1021,1022,1023,1024
0,1,1,1,1,1,1,1,1,1,0,...,1,1,1,1,1,1,1,1,1,9
1,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
2,1,1,1,1,1,1,1,1,1,0,...,1,1,1,1,1,1,1,1,1,9
3,1,1,1,1,1,1,1,1,1,1,...,0,0,1,1,1,1,1,1,1,4
4,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,9

In [12]:
target_train = train_set2[1024] #y_train, the set of labels to all the data in x_train

In [17]:
x_train = train_set2.drop(1024,axis=1) #the training data set

In [15]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
X, y = load_iris(return_X_y=True)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=0)
gnb = GaussianNB()
y_pred = gnb.fit(X_train, y_train).predict(X_test)

In [19]:
dtree = DecisionTreeClassifier(criterion = "entropy")

In [20]:
dtree = dtree.fit(x_train, target_train)

In [21]:
y_pred = dtree.predict(x_test)

In [22]:
from sklearn.metrics import classification_report, confusion_matrix

In [23]:
print(confusion_matrix(y_test, y_pred))

[[ 46   0   1   0   3   1   0   0   1   3]
 [  1 116   0   4   0   2   0   0   2   0]
 [  0   0   7   0   1   2   0   0   3   2]
 [  0   3   0   9   1   1   0   0   1   0]
 [  2   4   0   1  24   2   0   1   2  14]
 [  1   0   1   0   3  40   0   0   1   9]
 [  1   0   2   0   1   1   7   0   2   1]
 [  0   2   0   0   0   0   0  12   1   0]
 [  4   0   1   1   1   0   1   0  41   1]
 [  2   1   2   0   8   7   0   0   2 103]]

In [24]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.81      0.84      0.82        55
           1       0.92      0.93      0.92       125
           2       0.50      0.47      0.48        15
           3       0.60      0.60      0.60        15
           4       0.57      0.48      0.52        50
           5       0.71      0.73      0.72        55
           6       0.88      0.47      0.61        15
           7       0.92      0.80      0.86        15
           8       0.73      0.82      0.77        50
           9       0.77      0.82      0.80       125

    accuracy                           0.78       520
   macro avg       0.74      0.69      0.71       520
weighted avg       0.78      0.78      0.78       520

In [13]:
X =  list(range(15))
y = [x * x for x in X]
print (X, y)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14] [0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196]

In [40]:
import sklearn.model_selection as model_selection
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, train_size=0.65,test_size=0.35, random_state=101)
print ("X_train: ", X_train)
print ("y_train: ", y_train)
print("X_test: ", X_test)
print ("y_test: ", y_test)

X_train:  [0, 14, 4, 8, 9, 7, 6, 1, 11]
y_train:  [0, 196, 16, 64, 81, 49, 36, 1, 121]
X_test:  [13, 2, 3, 12, 10, 5]
y_test:  [169, 4, 9, 144, 100, 25]